/* Variables */

:root {
  --text-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #EEEEEE;
  --text-grey: #283136;
  --basic-extra-grey: #888888;
  --contacts: #666666;
  --sale: #444444;
  --guide-grey: #DFDFDF;
  --guide-extra-grey: #D5D5D5;
  --text-black: 0, 0, 0;


}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-grey);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-red {
  background-color: #FB565A;
}

.button-red:hover {
  background-color: #E74246;
}

.button-red:focus {
  background-color: #D7373B;
}

.button-green {
  background-color: #00CA74;
}

.button-green:hover {
  background-color: #00BC6C;
}

.button-green:focus {
  background-color: #00AA62;
}

.button-yellow {
  background-color: #EFC849;
}

.button-yellow:hover {
  background-color: #EAB534;
}

.button-yellow:focus {
  background-color: #E5A722;
}
.title {
  font-weight: 500;
  color: var(--text-black);
}

.title-bold {
  font-weight: 700;
  color: var(--text-black);
}

ul {
  list-style:none;
  }

  /* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {

  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

/* Main navigation */

.main-header-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.a:hover {

  background-color: #FB565A;
}

.a:focus {
  opacity: 0.3;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}


/* Logo */
.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}


.main-header-links {
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
}

.main-header-cart {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}



/* About */

.about {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.about-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.about-title {
  font-size: 55px;
  line-height: 55px;
}


/* Services */

.services {
  margin-bottom: 80px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.services-item {
  text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* More-Wrapper */
.more-wrapper {  display: grid;
  grid-template-columns: 2fr 1fr;
}


/* More */

.more {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  outline-offset: -5px;
}

.more-title {
  font-size: 45px;
  line-height: 45px;
}

.more-subtitle {
  text-transform: uppercase;
}


/* Additional */

.add {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.add-item {
  line-height: 18px;
}

.add-title {
  text-transform: uppercase;
}




.add-percents {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--text-black);
}

/* Clients */
.clients-list {display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}


/* Page-Catalog */

.page-catalog {display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 140px;
    width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  }

.page-catalog .page-title {grid-column: 1 / -1;}



/* Filters */

.filters {width: 260px;}

.filter legend {
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--text-grey);
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Sorting */

.sorting {
  display: grid;
  grid-template-columns: auto 1fr;

}


/* Catalog */



.catalog-list {display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;}

.catalog-info {
  background-color: var(--basic-grey);
  width: 360px;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline;
}

.catalog-title:hover {
  color: #FB565A;
}

.catalog-title:focus {
  opacity: 0.3;
}


.catalog-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts);
  text-align: center;
}

/* Pagination */

.pagination {
  list-style-type: none;
}

.pagination-item a{
  font-weight: 500;
  color: var(--text-black);
  background-color: var(--basic-grey);
}


.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid #DBDBDB;
  background-color: var(--basic-white);
}


.pagination-item a:hover {
  background-color: var(--guide-grey);
}

.pagination-item a:focus,
.pagination-item a:active  {
  background-color: var(--guide-extra-grey);
  color: rgba(var(--text-black), 0.3);
}

/* Main footer */

.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}



/* Contacts */

.contacts-title {
  font-size: 18px;
  line-height: 30px;
}

.contacts-text {
  line-height: 18px;
  color: var(--contacts);
}

.contacts-phone {
  color: var(--contacts);
}

.contacts-phone:hover {
  opacity: 0.7;
}

/* Social */

.social {display: grid;
  grid-template-columns: auto 1fr;}

.social-title {
  font-size: 36px;
  line-height: 36px;
}


.social-sale {
  line-height: 22px;
  color: var(--sale);
}

/* Popup */

.modal{
  width: 940px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-size: 45px;
  line-height: 52,73px;
}


.modal-form {display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "mn mn mn mn me me me me"
  "mt mt mt mt mt mt mt mt"
  "mb mb mb . . . . .";
  column-gap: 40px;
}

.modal-form input {
  line-height: 18px;
  color: var(--sale);
}

.modal-item {
  line-height: 18px;
}

.modal-name {
  grid-area: mn;
}

.modal-email {
  grid-area: me;
}

.modal-text {
  grid-area: mt;
}

.modal-button {
  border: none;
  grid-area: mb;
}

