/* Variables */

:root {
  --text-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #EEEEEE;
  --text-grey: #283136;
  --basic-extra-grey: #888888;
  --contacts: #666666;
  --sale: #444444;
  --guide-grey: #DFDFDF;
  --guide-extra-grey: #D5D5D5;
  --text-black: 0, 0, 0;


}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-grey);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 17px 40px 15px 40px;
  border-radius: 3px;
  display: inline-block;
}

.button-red {
  background-color: #FB565A;
}

.button-red:hover {
  background-color: #E74246;
}

.button-red:focus {
  background-color: #D7373B;
}

.button-green {
  background-color: #00CA74;
}

.button-green:hover {
  background-color: #00BC6C;
}

.button-green:focus {
  background-color: #00AA62;
}

.button-yellow {
  background-color: #EFC849;
}

.button-yellow:hover {
  background-color: #EAB534;
}

.button-yellow:focus {
  background-color: #E5A722;
}
.title {
  font-weight: 500;
  color: var(--text-black);
}

.title-bold {
  font-weight: 700;
  color: var(--text-black);
}

ul {
  list-style:none;
  }

  /* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  padding-top: 48px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
  background-color: var(--basic-grey);
}

/* Main navigation */

.main-header-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);

}

.a:hover {

  background-color: #FB565A;
}

.a:focus {
  opacity: 0.3;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
}


/* Logo */
.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;

}


.main-header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
}

.main-header-link {
  padding-right: 45px;}

  .main-header-link:last-of-type {
    padding-right: 0px;
  }

  .main-header-links a {color: var(--text-black);}



.main-header-cart {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
  display: flex;
  align-items: center;
  color: var(--text-black);
  padding-left: 40px;
  background: url(../img/cart-icon.svg) no-repeat left center / 15px;
}



/* About */

.about {
  outline: 5px solid rgba(255, 0, 0 , 0.3);

  background-color: var(--basic-grey);
  :nth-of-type(2,3)
}

.about-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.about-item:nth-of-type(2),
.about-item:nth-of-type(3) {
  display: none;
}

.about-title {
  font-size: 55px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 25px;
}

.about-text {margin-top: 0;
  margin-bottom: 38px;}

.about-button {
  display: block;
    width: 240px;
    box-sizing: border-box;
    text-align: center;}

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

/* Services */

.services {
  padding-top: 80px;
  margin-bottom: 80px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-grey);
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.services-item {
  text-align: left;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-top: 171px;
  box-sizing: border-box;
}

.services-item:nth-of-type(1) {
  background-image: url(../img/illustration-1.jpg);
}

.services-item:nth-of-type(2) {
  background-image: url(../img/illustration-2.jpg);
}

.services-item:nth-of-type(3) {
  background-image: url(../img/illustration-3.jpg);
}



.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}

.services-text {
  margin-top: 0;
  margin-bottom: 32px;
}

/* More-Wrapper */
.more-wrapper {  display: grid;
  grid-template-columns: 1fr 360px;
  grid-gap: 150px;
}


/* More */

.more {
  padding-top: 40px;
  padding-bottom: 73px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  outline-offset: -5px;
  border-bottom: 2px solid var(--basic-grey);
}

.more-title {
  font-size: 45px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 32px;
}

.more-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.more-subtitle {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.more-item {margin-top: 0;
  margin-bottom: 25px;
display: flex;
align-items: center;}


.more-item:last-of-type {
    margin-bottom: 0px;
  }

 .more-item::before {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #FB565A;
    display: block;
    margin-right: 7px;
}

.more-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Additional */

.add {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.add-image {
  margin-bottom: 37px;
}

.add-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;}

.add-item {
  line-height: 18px;
  width: 33,333%;
}

.add-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}




.add-percents {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--text-black);
  display: block;
  margin-bottom: 10px;
}

/* Clients */

.clients {
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 80px;
}

.clients-list {display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-item {opacity: 0.2;}
.clients-item a {display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;}

.clients-item:hover {opacity: 1;}


/* Page-Catalog */

.page-catalog {display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  }

.page-catalog .page-title {grid-column: 1 / -1;}



/* Filters */



.filter legend {
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--text-grey);
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Sorting */

.sorting {
  display: grid;
  grid-template-columns: auto 1fr;

}


/* Catalog */



.catalog-list {display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
padding-left: 0;}

.catalog-info {
  background-color: var(--basic-grey);
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline;
}

.catalog-title:hover {
  color: #FB565A;
}

.catalog-title:focus {
  opacity: 0.3;
}


.catalog-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts);
  text-align: center;
}

/* Pagination */

.pagination {
  list-style-type: none;
}

.pagination-item a{
  font-weight: 500;
  color: var(--text-black);
  background-color: var(--basic-grey);
}


.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid #DBDBDB;
  background-color: var(--basic-white);
}


.pagination-item a:hover {
  background-color: var(--guide-grey);
}

.pagination-item a:focus,
.pagination-item a:active  {
  background-color: var(--guide-extra-grey);
  color: rgba(var(--text-black), 0.3);
}

/* Main footer */

.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}



/* Contacts */
.contacts {
  position: relative;
}
.contacts-title {
  font-size: 18px;
  line-height: 30px;
}

.contacts-text {
  line-height: 18px;
  color: var(--contacts);
}

.contacts-info {position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;}

.contacts-phone {
  color: var(--contacts);
}

.contacts-phone:hover {
  opacity: 0.7;
}

/* Social */

.social {display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 140px;
padding-top: 68px;
padding-bottom: 68px;}

.social-title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}

.social-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-sale {
  margin-top: 0;
  margin-bottom: 0;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-item {
  margin-right: 9px;
}

.social-item:last-of-type {
  margin-right: 0;
}

.social-item a { width: 81px;
  height: 81px;
  background: #e1e1e1;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;}

  .social-item:nth-of-type(1) a {
    background-image: url(../img/vk-icon.svg);
    background-size: 26px;
  }

  .social-item:nth-of-type(2) a {
    background-image: url(../img/fb-icon.svg);
    background-size: 12px;
  }

  .social-item:nth-of-type(3) a {
    background-image: url(../img/insta-icon.svg);
    background-size: 21px;
  }




.social-sale {
  line-height: 22px;
  color: var(--sale);
}

/* Popup */

.modal{
  width: 940px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-size: 45px;
  line-height: 52,73px;
}


.modal-form {display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "mn mn mn mn me me me me"
  "mt mt mt mt mt mt mt mt"
  "mb mb mb . . . . .";
  column-gap: 40px;
}

.modal-form input {
  line-height: 18px;
  color: var(--sale);
}

.modal-item {
  line-height: 18px;
}

.modal-name {
  grid-area: mn;
}

.modal-email {
  grid-area: me;
}

.modal-text {
  grid-area: mt;
}

.modal-button {
  border: none;
  grid-area: mb;
}

