/* Variables */

:root {
  --text-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #EEEEEE;
  --text-grey: #283136;
  --basic-extra-grey: #888888;
  --contacts: #666666;
  --sale: #444444;

}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-grey);
  background-color: var(--basic-white);

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-red {
  background-color: #FB565A;
}

.button-red:hover {
  background-color: #E74246;
}

.button-red:focus {
  background-color: #D7373B;
}

.button-green {
  background-color: #00CA74;
}

.button-green:hover {
  background-color: #00BC6C;
}

.button-green:focus {
  background-color: #00AA62;
}

.button-yellow {
  background-color: #EFC849;
}

.button-yellow:hover {
  background-color: #EAB534;
}

.button-yellow:focus {
  background-color: #E5A722;
}
.title {
  font-weight: 500;
  color: var(--text-black);
}

.title-bold {
  font-weight: 700;
  color: var(--text-black);
}

ul {
  list-style:none;
  }

/* Main navigation */

.main-header-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.a:hover {

  background-color: #FB565A;
}

.a:focus {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

/* About */


.about-title {
  font-size: 55px;
  line-height: 55px;
}

/* Services */

.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* More */

.more-title {
  font-size: 45px;
  line-height: 45px;
}

.more-subtitle {
  text-transform: uppercase;
}


/* Additional */

.add-item {
  line-height: 18px;
}

.add-title {
  text-transform: uppercase;
}

.add-percents {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--text-black);
}

/* Contacts */

.contacts-title {
  font-size: 18px;
  line-height: 30px;
}

.contacts-text {
  line-height: 18px;
  color: var(--contacts);
}

.contacts-phone {
  color: var(--contacts);
}

.contacts-phone:hover {
  opacity: 0.7;
}

/* Social */

.social-title {
  font-size: 36px;
  line-height: 36px;
}


.social-sale {
  line-height: 22px;
  color: var(--sale);
}

/* Popup */

.modal-title {
  font-size: 45px;
  line-height: 52,73px;
}

.modal-form input {
  line-height: 18px;
  color: var(--sale);
}

.modal-item {
  line-height: 18px;
}

.modal-button {
  border: none;
}
